name: Build ZMK Firmware (roBa)

on:
  workflow_dispatch:
  push:
    paths:
      - "config/**"
      - "boards/**"
      - "build.yaml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build firmware
        uses: zmkfirmware/zmk/.github/actions/build@main
        with:
          board: nice_nano_v2       # ← 使用MCUに合わせる
          shield: roba              # ← roBaでOK

    permissions:
      contents: write
